{
   "semi": true,
   "singleQuote": true,
   "tabWidth": 3,
   "useTabs": false,
   "trailingComma": "es5",
   "printWidth": 120,
   "jsxSingleQuote": true,
   "arrowParens": "always",
   "plugins": ["prettier-plugin-astro"],
   "overrides": [
      {
         "files": "*.astro",
         "options": {
            "parser": "astro"
         }
      }
   ]
}
